#wrap #left span{
  display:inline-block;
  width:80px;
  height:40px;
  line-height:40px;
  text-align:center;
  margin:5px 20px 0 0;
  background:#FFF8DC;
  border-right:solid 1px #aaa;
  border-bottom:solid 1px #aaa;
}
#wrap #right #imgArea{
  width:700px;
  height:700px;
  margin: 0 auto;
  position:relative;
}
#wrap #right #imgArea div.imgCell{
  float:left;
  width:73px;
  height:73px;
  border:1px solid #fff;
  border-radius:4px;
  position:absolute;
  z-index:10;
  box-shadow:0px 0px 8px #fff;
  transition-property:background-position;
  transition-duration:300ms;
  transition-timing-function:ease-in-out
}
/* #wrap #right #imgArea div.hover{
  filter:alpha(opacity=80);
  opacity:.8;
  box-shadow:0px 0px 8px #000;
  z-index:20;
  *border:1px solid #09F
} */