
#mainBody{
  padding:0;margin:0
}
#mainBody li{
  list-style:none
}
#wrap #left ul li{
  width:290px;
  height:50px;
  line-height:50px;
  padding-left:10px;
  position:relative
}
#wrap #left ul li span{
  display:block;
  width:80px;
  height:40px;
  line-height:40px;
  text-align:center;
  cursor:pointer;
  margin:5px 20px 0 0;
  background:#FFF8DC;
  border-right:solid 1px #aaa;
  border-bottom:solid 1px #aaa;
  position:absolute;top:0;
  left:100px
}
#wrap #left ul li#gameRule p{
  height:30px;font-size:15px
}
#wrap #right{
  width:310px;height:300px;margin:0 auto;
}
#wrap #right #imgArea{
  width:300px;height:300px;position:relative
}
#wrap #right #imgArea div.imgCell{
  float:left;
  width:73px;
  height:73px;
  border:1px solid #fff;
  border-radius:4px;
  position:absolute;
  z-index:10;
  box-shadow:0px 0px 8px #fff;
  transition-property:background-position;
  transition-duration:300ms;
  transition-timing-function:ease-in-out
}
/* #wrap #right #imgArea div.hover{
  filter:alpha(opacity=80);
  opacity:.8;
  box-shadow:0px 0px 8px #000;
  z-index:20;
  *border:1px solid #09F
} */