// 主色调
$mColor1: #30ce9a; //春主色调
$mColor2: #59d4d6; //夏主色调
$mColor3: #fcb900; //秋主色调
$mColor4: #b8d8f1; //冬主色调

$question-color1: #07875d; //春问题字体颜色
$question-color2: #126667; //夏问题字体颜色
$question-color3: #fe4800; //秋问题字体颜色
$question-color4: #446782; //冬问题字体颜色

$answer-color1: #29b788; //春答案字体颜色
$answer-color2: #21b0b2; //夏答案字体颜色
$answer-color3: #fca000; //秋答案字体颜色
$answer-color4: #8db0cc; //冬答案字体颜色