
.spring{
	//首页
	.mainIndex{
		background: url(../img/bg1-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game1{
		background: url(../img/btn1-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game2{
		background: url(../img/btn1-2.png) no-repeat center;
		background-size: 100% 100%;
	}
  background-color:  $mColor1;
  /* 答题首页 */
  .knowIndex{
  	.mainTit{
  		background: url('../img/icon1-2.png')no-repeat;
  	}
  	.knowRole{
      background-image: url(../../assets/img/icon1-3.png),url(../../assets/img/icon1-3.png);
  		.scrollbar::-webkit-scrollbar-thumb {  
        	background-color:$answer-color1 ; 
        }
  	}
  }
  .scoreWrap{
  	.scoreList{
  		.item{
  			background-color: $answer-color1;
  			.dhBtn.high{
  				border: 3px solid $question-color1;
  				color: $mColor1;
  				
  			}
  		}
  	}
  }
	//拼图首页
	.puzzleHome{
		background: url('../img/m-bg1.png') center bottom no-repeat;
		.p-main{
			background: url('../img/gz1-1.png') center center no-repeat;
			.scroll{
				color: $mColor1;
			}
		}
	}
	.actionBtn{
		background: url('../img/btn2-4.png') center center no-repeat;
	}
	.scoreBtn{
		background: url('../img/btn2-3.png') center center no-repeat;
	}
	.againBtn{
		background: url('../img/btn2-8.png') center center no-repeat;
	}
	.shareBtn{
		background: url('../img/btn2-9.png') center center no-repeat;
	}
	.closeBtn{
		background: url('../img/close1-1.png') center center no-repeat;
	}
	.backHome{
		background: url(../../assets/img/btn2-6.png) no-repeat;
	}
}
.summer{
	.mainIndex{
		background: url(../img/bg2-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game1{
		background: url(../img/btn2-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game2{
		background: url(../img/btn2-2.png) no-repeat center;
		background-size: 100% 100%;
	}
}
.autumn{
	.mainIndex{
		background: url(../img/bg3-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game1{
		background: url(../img/btn3-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game2{
		background: url(../img/btn3-2.png) no-repeat center;
		background-size: 100% 100%;
	}
}
.winter{
	.mainIndex{
		background: url(../img/bg4-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game1{
		background: url(../img/btn4-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game2{
		background: url(../img/btn4-2.png) no-repeat center;
		background-size: 100% 100%;
	}
}