// 春
.spring{
	//首页
	.mainIndex{
		background: url(../img/bg1-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game{
		background: url(../img/btn1-1.png) no-repeat center;
		background-size: 100% 100%;
		-webkit-text-stroke: 3px #7a9707; //春 冬 6ca3ff 秋 e51b00 夏e55c00

	}
  background-color:  $mColor1;
  /* 答题首页 */
  .knowIndex{
  	.mainTit{
  		background: url('../img/icon1-2.png')no-repeat;
  	}
  	.knowRole{
      background-image: url(../../assets/img/icon1-3.png),url(../../assets/img/icon1-3.png);
  	}
  }
  .scoreWrap{
  	.scoreList{
  		.item{
  			background-color: $answer-color1;
  			.dhBtn.high{
  				border: 3px solid $question-color1;
  				color: $mColor1;
  				
  			}
  		}
  	}
  }
  .knowWrap{
  	.knowMain{
  		background-image: url(../../assets/img/icon1-3.png),url(../../assets/img/icon1-3.png);
  		border-bottom: 10px solid rgba($mColor1,.6);
  	}
  	.userInfo{
  		.info p:first-child{
  			color: $question-color1;
  		}
  		.col{
  			color: $question-color1;
  		}
  		.time{
  			border-color: $mColor1;
  			color: $question-color1;
  		}
  	}
  	.question{
  		.subject{
  			color: $question-color1;
  		}
  		.select{
  			li{
  				border-color: $answer-color1;
  				color: $answer-color1;
  			}
  		}
  	}
  }
	.scrollbar::-webkit-scrollbar-thumb {  
		background-color:$answer-color1 ; 
	}
	//拼图首页
	.puzzleHome{
		background: url('../img/m-bg1.png') center bottom no-repeat;
		.p-main{
			background: url('../img/gz1-1.png') center center no-repeat;
			.scroll{
				color: $mColor1;
			}
		}
	}
  #gameBody .col{
    color: $question-color1;
  }
	.actionBtn{
		background: url('../img/btn2-4.png') center center no-repeat;
	}
	.scoreBtn{
		background: url('../img/btn2-3.png') center center no-repeat;
	}
	.againBtn{
		background: url('../img/btn2-8.png') center center no-repeat;
	}
	.shareBtn{
		background: url('../img/btn2-9.png') center center no-repeat;
	}
	.closeBtn{
		background: url('../img/close1-1.png') center center no-repeat;
	}
	.backHome{
		background: url(../../assets/img/btn2-6.png) no-repeat;
	}
}
// 夏
.summer{
	//首页
	.mainIndex{
		background: url(../img/bg2-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game{
		background: url(../img/btn2-1.png) no-repeat center;
		background-size: 100% 100%;
		-webkit-text-stroke: 3px #e55c00; //春 冬 6ca3ff 秋 e51b00 夏e55c00
	}
  background-color:  $mColor2;
  /* 答题首页 */
  .knowIndex{
  	.mainTit{
  		background: url('../img/icon2-2.png')no-repeat;
  	}
  	.knowRole{
      background-image: url(../../assets/img/icon2-3.png),url(../../assets/img/icon2-3.png);
  	}
  }
  .scoreWrap{
  	.scoreList{
  		.item{
  			background-color: $answer-color2;
  			.dhBtn.high{
  				border: 3px solid $question-color2;
  				color: $mColor2;
  				
  			}
  		}
  	}
  }
  .knowWrap{
  	.knowMain{
  		background-image: url(../../assets/img/icon2-3.png),url(../../assets/img/icon2-3.png);
  		border-bottom: 10px solid rgba($mColor2,.6);
  	}
  	.userInfo{
  		.info p:first-child{
  			color: $question-color2;
  		}
  		.col{
  			color: $question-color2;
  		}
  		.time{
  			border-color: $mColor2;
  			color: $question-color2;
  		}
  	}
  	.question{
  		.subject{
  			color: $question-color2;
  		}
  		.select{
  			li{
  				border-color: $answer-color2;
  				color: $answer-color2;
  			}
  		}
  	}
  }
	.scrollbar::-webkit-scrollbar-thumb {  
		background-color:$answer-color2 ; 
	}
	//拼图首页
	.puzzleHome{
		background: url('../img/m-bg1.png') center bottom no-repeat;
		.p-main{
			background: url('../img/gz2-1.png') center center no-repeat;
			.scroll{
				color: $mColor2;
			}
		}
	}
  #gameBody .col{
    color: $question-color2;
  }
	.actionBtn{
		background: url('../img/btn2-4.png') center center no-repeat;
	}
	.scoreBtn{
		background: url('../img/btn2-3.png') center center no-repeat;
	}
	.againBtn{
		background: url('../img/btn2-8.png') center center no-repeat;
	}
	.shareBtn{
		background: url('../img/btn2-9.png') center center no-repeat;
	}
	.closeBtn{
		background: url('../img/close2-1.png') center center no-repeat;
	}
	.backHome{
		background: url(../../assets/img/btn2-6.png) no-repeat;
	}
}
// 秋
.autumn{
	//首页
	.mainIndex{
		background: url(../img/bg3-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game{
		background: url(../img/btn3-1.png) no-repeat center;
		background-size: 100% 100%;
		-webkit-text-stroke: 3px #e51b00; //春 冬 6ca3ff 秋 e51b00 夏e55c00

	}
  background-color:  $mColor3;
  /* 答题首页 */
  .knowIndex{
  	.mainTit{
  		background: url('../img/icon3-2.png')no-repeat;
  	}
  	.knowRole{
      background-image: url(../../assets/img/icon3-3.png),url(../../assets/img/icon3-3.png);
  	}
  }
  .scoreWrap{
  	.scoreList{
  		.item{
  			background-color: $answer-color3;
  			.dhBtn.high{
  				border: 3px solid $question-color3;
  				color: $mColor3;
  				
  			}
  		}
  	}
  }
  .knowWrap{
  	.knowMain{
  		background-image: url(../../assets/img/icon3-3.png),url(../../assets/img/icon3-3.png);
  		border-bottom: 10px solid rgba($mColor3,.6);
  	}
  	.userInfo{
  		.info p:first-child{
  			color: $question-color3;
  		}
  		.col{
  			color: $question-color3;
  		}
  		.time{
  			border-color: $mColor3;
  			color: $question-color3;
  		}
  	}
  	.question{
  		.subject{
  			color: $question-color3;
  		}
  		.select{
  			li{
  				border-color: $answer-color3;
  				color: $answer-color3;
  			}
  		}
  	}
  }
	.scrollbar::-webkit-scrollbar-thumb {  
		background-color:$answer-color3 ; 
	}
	//拼图首页
	.puzzleHome{
		background: url('../img/m-bg1.png') center bottom no-repeat;
		.p-main{
			background: url('../img/gz3-1.png') center center no-repeat;
			.scroll{
				color: $mColor3;
			}
		}
	}
  #gameBody .col{
    color: $question-color3;
  }
	.actionBtn{
		background: url('../img/btn2-4.png') center center no-repeat;
	}
	.scoreBtn{
		background: url('../img/btn2-3.png') center center no-repeat;
	}
	.againBtn{
		background: url('../img/btn2-8.png') center center no-repeat;
	}
	.shareBtn{
		background: url('../img/btn2-9.png') center center no-repeat;
	}
	.closeBtn{
		background: url('../img/close3-1.png') center center no-repeat;
	}
	.backHome{
		background: url(../../assets/img/btn2-6.png) no-repeat;
	}
}
// 冬
.winter{
	//首页
	.mainIndex{
		background: url(../img/bg4-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game{
		background: url(../img/btn4-1.png) no-repeat center;
		background-size: 100% 100%;
		-webkit-text-stroke: 3px #6ca3ff; //春 冬 6ca3ff 秋 e51b00 夏e55c00

	}
  background-color:  $mColor4;
  /* 答题首页 */
  .knowIndex{
  	.mainTit{
  		background: url('../img/icon4-2.png')no-repeat;
  	}
  	.knowRole{
      background-image: url(../../assets/img/icon4-3.png),url(../../assets/img/icon4-3.png);
  	}
  }
  .scoreWrap{
  	.scoreList{
  		.item{
  			background-color: $answer-color4;
  			.dhBtn.high{
  				border: 3px solid $question-color4;
  				color: $mColor4;
  				
  			}
  		}
  	}
  }
  .knowWrap{
  	.knowMain{
  		background-image: url(../../assets/img/icon4-3.png),url(../../assets/img/icon4-3.png);
  		border-bottom: 10px solid rgba($mColor4,.6);
  	}
  	.userInfo{
  		.info p:first-child{
  			color: $question-color4;
  		}
  		.col{
  			color: $question-color4;
  		}
  		.time{
  			border-color: $mColor4;
  			color: $question-color4;
  		}
  	}
  	.question{
  		.subject{
  			color: $question-color4;
  		}
  		.select{
  			li{
  				border-color: $answer-color4;
  				color: $answer-color4;
  			}
  		}
  	}
  }
	.scrollbar::-webkit-scrollbar-thumb {  
		background-color:$answer-color4 ; 
	}
	//拼图首页
	.puzzleHome{
		background: url('../img/m-bg1.png') center bottom no-repeat;
		.p-main{
			background: url('../img/gz4-1.png') center center no-repeat;
			.scroll{
				color: $mColor4;
			}
		}
	}
  #gameBody .col{
    color: $question-color4;
  }
	.actionBtn{
		background: url('../img/btn2-4.png') center center no-repeat;
	}
	.scoreBtn{
		background: url('../img/btn2-3.png') center center no-repeat;
	}
	.againBtn{
		background: url('../img/btn2-8.png') center center no-repeat;
	}
	.shareBtn{
		background: url('../img/btn2-9.png') center center no-repeat;
	}
	.closeBtn{
		background: url('../img/close4-1.png') center center no-repeat;
	}
	.backHome{
		background: url(../../assets/img/btn2-6.png) no-repeat;
	}
}