
.spring{
	//首页
	.mainIndex{
		background: url(../img/bg1-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game1{
		background: url(../img/btn1-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game2{
		background: url(../img/btn1-2.png) no-repeat center;
		background-size: 100% 100%;
	}
	&.bg{
    background-color:  $mColor1;
	}
	//拼图首页
	.puzzleHome{
		background: url('../img/m-bg1.png') center bottom no-repeat;
		.p-main{
			background: url('../img/gz1-1.png') center center no-repeat;
			.scroll{
				color: $mColor1;
			}
		}
		.btn1{
			background: url('../img/btn2-4.png') center center no-repeat;
		}
		.btn2{
			background: url('../img/btn2-3.png') center center no-repeat;
		}
	}
}
.summer{
	.mainIndex{
		background: url(../img/bg2-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game1{
		background: url(../img/btn2-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game2{
		background: url(../img/btn2-2.png) no-repeat center;
		background-size: 100% 100%;
	}
}
.autumn{
	.mainIndex{
		background: url(../img/bg3-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game1{
		background: url(../img/btn3-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game2{
		background: url(../img/btn3-2.png) no-repeat center;
		background-size: 100% 100%;
	}
}
.winter{
	.mainIndex{
		background: url(../img/bg4-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game1{
		background: url(../img/btn4-1.png) no-repeat center;
		background-size: 100% 100%;
	}
	.mainIndex .game2{
		background: url(../img/btn4-2.png) no-repeat center;
		background-size: 100% 100%;
	}
}